/* src/styles/app.css */
#app {
  font-family: Roboto, sans-serif;
}
.v-card {
  margin-top: 20px;
}

.v-pagination {
  margin: 10px 0;
}

.v-data-table thead th {
  font-size: 17px !important;
  font-weight: 700 !important;
}

